<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="ds" />
	</bean>
	
	<bean id="matchAllWithPropReq"
		class="org.springframework.transaction.interceptor.MatchAlwaysTransactionAttributeSource">
		<property name="transactionAttribute"
			value="PROPAGATION_REQUIRED,-Exception" />
	</bean>

	<bean id="matchAllTxInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributeSource"
			ref="matchAllWithPropReq" />
	</bean>
	
	<bean id="transactionProxyCreator"
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="interceptorNames">
			<list>
				<idref local="matchAllTxInterceptor" />
			</list>
		</property>
		<property name="beanNames">
			<list>
				<idref local="dbDepMojoBl" />	
			</list>
		</property>
	</bean>

	<bean id="dbDepMojoBl" class="com.sourcesense.maven.dbdep.plugin.bl.DbDependenciesMojoBl">
		<property name="dbDependenciesDao" ref="dbDependenciesDao"/>
		<property name="pomParser" ref="pomParser" />
	</bean>
	
	<bean id="pomParser" class="com.sourcesense.maven.dbdep.plugin.parser.POMParser"/>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
		<set>
			<value>classpath:jdbc.properties</value>
			<value>classpath:query.properties</value>
		</set>
		</property>
		
	</bean>
	
	
	<bean id="dbDependenciesDao" class="com.sourcesense.maven.dbdep.plugin.dao.DbDependenciesDao">
		<property name="ds" ref="ds"/>
		<property name="psInsert" value="${ps.insert}" />
		<property name="psSelect" value="${ps.select}" />
	</bean>
	
	<bean id="ds" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
</beans>